<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Workspace>
<Workspace xmlns="http://www.qlcplus.org/Workspace" CurrentWindow="InputOutputManager">
 <Creator>
  <Name>Q Light Controller Plus</Name>
  <Version>4.13.1</Version>
  <Author>Your Name</Author>
 </Creator>
 <Engine>
  <InputOutputMap>
   <BeatGenerator BeatType="Disabled" BPM="0"/>
   <Universe Name="Universe 1" ID="0">
    <Input Plugin="ArtNet" UID="127.0.0.1" Line="1"/>
    <Output Plugin="DMX USB" UID="FT232R USB UART (S/N: XXXXXXXX)" Line="0">
     <PluginParameters UniverseChannels="512"/>
    </Output>
   </Universe>
   <Universe Name="Universe 2" ID="1"/>
   <Universe Name="Universe 3" ID="2"/>
   <Universe Name="Universe 4" ID="3"/>
  </InputOutputMap>
  <Fixture>
   <Manufacturer>Showtec</Manufacturer>
   <Model>LED Par 56</Model>
   <Mode>6 Channel</Mode>
   <ID>0</ID>
   <Name>LED Par 56 #1</Name>
   <Universe>0</Universe>
   <Address>0</Address>
   <Channels>6</Channels>
  </Fixture>
  <Fixture>
   <Manufacturer>Showtec</Manufacturer>
   <Model>LED Par 56</Model>
   <Mode>6 Channel</Mode>
   <ID>1</ID>
   <Name>LED Par 56 #2</Name>
   <Universe>0</Universe>
   <Address>6</Address>
   <Channels>6</Channels>
  </Fixture>
  <Fixture>
   <Manufacturer>Stairville</Manufacturer>
   <Model>MH-X20</Model>
   <Mode>11 Ch</Mode>
   <ID>2</ID>
   <Name>MH-X20</Name>
   <Universe>0</Universe>
   <Address>12</Address>
   <Channels>11</Channels>
  </Fixture>
  <Fixture>
   <Manufacturer>Stairville</Manufacturer>
   <Model>LED Par56 MKII RGBW</Model>
   <Mode>Full</Mode>
   <ID>3</ID>
   <Name>LED Par56 MKII RGBW</Name>
   <Universe>0</Universe>
   <Address>23</Address>
   <Channels>8</Channels>
  </Fixture>
  <Function ID="0" Type="Scene" Name="Sunset - Custom">
   <Speed FadeIn="0" FadeOut="0" Duration="0"/>
   <FixtureVal ID="0">0,153,1,50,2,0,3,0,4,0,5,0</FixtureVal>
   <FixtureVal ID="1">0,134,1,10,2,0,3,0,4,0,5,0</FixtureVal>
   <FixtureVal ID="2">0,106,1,229,2,111,3,0,5,30,6,255,7,111,8,0,9,0,10,0</FixtureVal>
   <FixtureVal ID="3">0,0,1,0,2,140,3,0,4,0,5,0,6,0,7,255</FixtureVal>
  </Function>
  <Function ID="1" Type="Scene" Name="white">
   <Speed FadeIn="0" FadeOut="0" Duration="0"/>
   <FixtureVal ID="0">0,255,1,255,2,66,3,0,4,0,5,0</FixtureVal>
   <FixtureVal ID="1">0,255,1,255,2,59,3,0,4,0,5,0</FixtureVal>
   <FixtureVal ID="2">0,19,1,32,2,112,3,59,4,0,5,0,6,255,7,255,8,0,9,0,10,0</FixtureVal>
   <FixtureVal ID="3">0,255,1,83,2,45,3,255,4,0,5,0,6,0,7,255</FixtureVal>
  </Function>
  <Function ID="2" Type="Scene" Name="sunset with bulb">
   <Speed FadeIn="0" FadeOut="0" Duration="0"/>
   <FixtureVal ID="0">0,55,1,14,2,0,3,0,4,0,5,0</FixtureVal>
   <FixtureVal ID="1">0,0,1,0,2,34,3,0,4,0,5,0</FixtureVal>
   <FixtureVal ID="2">0,105,1,237,2,92,3,31,5,87,6,255,7,135,8,45,9,0,10,0</FixtureVal>
   <FixtureVal ID="3">0,0,1,65,2,255,3,0,4,0,5,0,6,0,7,47</FixtureVal>
  </Function>
  <Function ID="3" Type="Scene" Name="dance multi color">
   <Speed FadeIn="0" FadeOut="0" Duration="0"/>
   <FixtureVal ID="0">0,0,1,0,2,0,3,0,4,255,5,189</FixtureVal>
   <FixtureVal ID="1">0,0,1,0,2,0,3,0,4,222,5,189</FixtureVal>
   <FixtureVal ID="2">0,150,1,223,2,0,3,0,4,0,5,253,6,60,7,255,8,44,9,0,10,0</FixtureVal>
   <FixtureVal ID="3">0,0,1,0,2,0,3,0,4,0,5,255,6,182,7,255</FixtureVal>
  </Function>
  <Function ID="7" Type="Scene" Name="black out">
   <Speed FadeIn="0" FadeOut="0" Duration="0"/>
   <FixtureVal ID="0">0,0,1,0,2,0,3,0,4,0,5,0</FixtureVal>
   <FixtureVal ID="1">0,0,1,0,2,0,3,0,4,0,5,0</FixtureVal>
   <FixtureVal ID="2">4,0,5,0,6,0,7,0,8,0,9,0,10,0</FixtureVal>
   <FixtureVal ID="3">0,0,1,0,2,0,3,0,4,0,5,0,6,0,7,0</FixtureVal>
  </Function>
  <Function ID="8" Type="Chaser" Name="Nouveau chaser 8">
   <Speed FadeIn="0" FadeOut="0" Duration="0"/>
   <Direction>Forward</Direction>
   <RunOrder>Random</RunOrder>
   <SpeedModes FadeIn="PerStep" FadeOut="PerStep" Duration="PerStep"/>
   <Step Number="0" FadeIn="0" Hold="240" FadeOut="0">7</Step>
   <Step Number="1" FadeIn="100" Hold="150" FadeOut="0">3</Step>
   <Step Number="2" FadeIn="100" Hold="150" FadeOut="0">0</Step>
   <Step Number="3" FadeIn="100" Hold="150" FadeOut="0">2</Step>
   <Step Number="4" FadeIn="0" Hold="150" FadeOut="0">1</Step>
  </Function>
  <Monitor DisplayMode="1" ShowLabels="0">
   <Font>Arial,14,-1,5,50,0,0,0,0,0,Regular</Font>
   <ChannelStyle>0</ChannelStyle>
   <ValueStyle>0</ValueStyle>
   <Grid Width="5" Height="3" Depth="5" Units="0"/>
  </Monitor>
 </Engine>
 <VirtualConsole>
  <Frame Caption="">
   <Appearance>
    <FrameStyle>None</FrameStyle>
    <ForegroundColor>Default</ForegroundColor>
    <BackgroundColor>Default</BackgroundColor>
    <BackgroundImage>None</BackgroundImage>
    <Font>Default</Font>
   </Appearance>
   <SoloFrame Caption="" ID="0">
    <Appearance>
     <FrameStyle>Sunken</FrameStyle>
     <ForegroundColor>Default</ForegroundColor>
     <BackgroundColor>Default</BackgroundColor>
     <BackgroundImage>None</BackgroundImage>
     <Font>Default</Font>
    </Appearance>
    <WindowState Visible="False" X="0" Y="0" Width="340" Height="500"/>
    <AllowChildren>False</AllowChildren>
    <AllowResize>False</AllowResize>
    <ShowHeader>False</ShowHeader>
    <ShowEnableButton>True</ShowEnableButton>
    <Mixing>False</Mixing>
    <Collapsed>False</Collapsed>
    <Disabled>False</Disabled>
    <Button Caption="blanc chaud" ID="1" Icon="">
     <WindowState Visible="False" X="10" Y="10" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="1"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Sunset - Custom" ID="2" Icon="">
     <WindowState Visible="False" X="90" Y="10" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="0"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="sunset with bulb" ID="3" Icon="">
     <WindowState Visible="False" X="170" Y="10" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="2"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="dance multi color" ID="4" Icon="">
     <WindowState Visible="False" X="250" Y="10" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="3"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="black out" ID="5" Icon="">
     <WindowState Visible="False" X="10" Y="90" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="7"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="" ID="6" Icon="">
     <WindowState Visible="False" X="90" Y="90" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 7" ID="7" Icon="">
     <WindowState Visible="False" X="170" Y="90" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 8" ID="8" Icon="">
     <WindowState Visible="False" X="250" Y="90" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 9" ID="9" Icon="">
     <WindowState Visible="False" X="10" Y="170" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 10" ID="10" Icon="">
     <WindowState Visible="False" X="90" Y="170" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 11" ID="11" Icon="">
     <WindowState Visible="False" X="170" Y="170" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 12" ID="12" Icon="">
     <WindowState Visible="False" X="250" Y="170" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 13" ID="13" Icon="">
     <WindowState Visible="False" X="10" Y="250" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 14" ID="14" Icon="">
     <WindowState Visible="False" X="90" Y="250" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 15" ID="15" Icon="">
     <WindowState Visible="False" X="170" Y="250" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 16" ID="16" Icon="">
     <WindowState Visible="False" X="250" Y="250" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 17" ID="17" Icon="">
     <WindowState Visible="False" X="10" Y="330" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 18" ID="18" Icon="">
     <WindowState Visible="False" X="90" Y="330" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 19" ID="19" Icon="">
     <WindowState Visible="False" X="170" Y="330" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 20" ID="20" Icon="">
     <WindowState Visible="False" X="250" Y="330" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 21" ID="21" Icon="">
     <WindowState Visible="False" X="10" Y="410" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 22" ID="22" Icon="">
     <WindowState Visible="False" X="90" Y="410" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 23" ID="23" Icon="">
     <WindowState Visible="False" X="170" Y="410" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
    <Button Caption="Bouton 24" ID="24" Icon="">
     <WindowState Visible="False" X="250" Y="410" Width="80" Height="80"/>
     <Appearance>
      <FrameStyle>None</FrameStyle>
      <ForegroundColor>Default</ForegroundColor>
      <BackgroundColor>Default</BackgroundColor>
      <BackgroundImage>None</BackgroundImage>
      <Font>Default</Font>
     </Appearance>
     <Function ID="4294967295"/>
     <Action>Toggle</Action>
     <Intensity Adjust="False">100</Intensity>
    </Button>
   </SoloFrame>
  </Frame>
  <Properties>
   <Size Width="3200" Height="1200"/>
   <GrandMaster ChannelMode="Intensity" ValueMode="Reduce" SliderMode="Normal"/>
  </Properties>
 </VirtualConsole>
 <SimpleDesk>
  <Engine/>
 </SimpleDesk>
</Workspace>
